<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 이름은 SQL을 찾을 때 사용하는 그룹명이다.
     따라서 SQL 문을 사용하는 DAO 클래스 이름과 같게 하면
     유지보수할 때 알아보기 쉽다.
     단순히 알아보기 쉬울 뿐만 아니라 
     스프링 프레임워크와 연동할 때 DAO 객체를 자동 생성할 수 있다. 
-->
<mapper namespace="kr.co.ssbit.dao.WorkerDao">

  <resultMap type="Worker" id="WorkerMap">
    <id column="USER_NO" property="no"/>
    <result column="KOR_NAME" property="koName"/>
    <result column="ENG_NAME" property="enName"/>
    <result column="HAN_NAME" property="cnName"/>
    <result column="JUMIN_NO" property="juminNo"/>
    <result column="SAJIN_NM" property="photoName"/>
    <result column="BIRTH_YMD" property="birthYMD"/>
    <result column="BIRTH_RN" property="birthRN"/>
    <result column="SEX" property="sex"/>
    <result column="MARRY_YN" property="marry"/>
    <result column="WORK_YEAR" property="workYear"/>
    <result column="JOIN_ST" property="joinStyle"/>
    <result column="HOPE_WORK" property="hopeWork"/>
    <result column="ADDR" property="address"/>
    <result column="TEL" property="tel"/>
    <result column="EMAIL" property="email"/>
    <result column="TECH_GRD" property="tech"/>
    <result column="ALC_QT" property="alcohol"/>
  </resultMap>
  
  <!-- SQL 문 id를 설정할 때 SQL문을 사용하는 메서드 이름과 같게하면
       유지보수할 때 알아보기 쉽다. 
       알아보기 쉬울 뿐만 아니라
       스프링 프레임워크와 연동할 때 DAO객체를 자동생성하고 
       그 메서드를 자동생성할 때 사용할 수 있다.
  -->
  <select id="selectList" 
          resultMap="WorkerMap" 
          parameterType="map">
    select *
    from IS_MATER
    <!-- order by NONO desc
    limit #{startRowNo}, #{pageSize} -->
  </select>
  
 <insert id="insert" parameterType="Worker"
          useGeneratedKeys="true" keyColumn="USER_NO" keyProperty="no">
INSERT INTO IS_MATER
(KOR_NAME,ENG_NAME,HAN_NAME,JUMIN_NO,SAJIN_NM,BIRTH_YMD,BIRTH_RN,SEX,MARRY_YN,WORK_YEAR,JOIN_ST,HOPE_WORK,ADDR,TEL,EMAIL,TECH_GRD,ALC_QT)
VALUES (#{koName},#{enName},#{cnName},#{juminNo},#{photoName},#{birthYMD},#{birthRN},#{sex},#{marry},#{workYear},#{joinStyle},#{hopeWork},#{address},#{tel},#{email},#{tech},#{alcohol})

  </insert> 
  
  <!-- 파라미터의 타입이 primitive type이나 wrapper 클래스, String 클래스인 경우
       값을 꺼낼 때 프로퍼티 이름을 마음대로 해도 된다.
  -->
  <select id="selectOne" parameterType="int" resultMap="WorkerMap">
    select *
    from IS_MATER 
    where USER_NO=#{value}
  </select>
  
  <update id="update" parameterType="Worker">
    update IS_MATER set 
        KOR_NAME=#{koName}, 
        ENG_NAME=#{enName}, 
        HAN_NAME=#{cnName}, 
        JUMIN_NO=#{juminNo}, 
        SAJIN_NM=#{photoName}, 
        BIRTH_YMD=#{birthYMD}, 
        BIRTH_RN=#{birthRN}, 
        SEX=#{sex}, 
        MARRY_YN=#{marry}, 
        WORK_YEAR=#{workYear}, 
        HOPE_WORK=#{hopeWork}, 
        JOIN_ST=#{joinStyle}, 
        ADDR=#{address}, 
        TEL=#{tel}, 
        EMAIL=#{email}, 
        TECH_GRD=#{tech}, 
        ALC_QT=#{alcohol} 
    where USER_NO=#{no}
  </update>
<!--   
  <delete id="delete" parameterType="int">
    delete from tamlaDB_tourboard where bno=#{value}
  </delete> -->
  
  
  
</mapper>







